# Python Basics

In [6]:
# Write First Program

print('Hello World')
print('\n')
print('its\nMe') # '\n' is used for next line

Hello World


its
Me

In [27]:
# Types 
# Integers, Float, String, Bollean

#Addtion Opperation
print('Addtion Opperation')
a = 10
b = 25
c = 10+20
print('Addition of two numbers: 10 + 24 = ',10+24)
print('Addition of two numbers: ',a,'+',b,'is',a+b)
print(a+b)
print('\n')

#Substraction Opperation
print('Substraction Opperation')
a = 25
b = 10
c = 10-20
print('Substraction of two numbers: 10 + 24 = ',10-24)
print('Substraction of two numbers: ',a,'-',b,'is',a-b)
print(a-b)
print('\n')

#Division Opperation
print('Division Opperation')
a = 25
b = 10
c = 10/20
print('Division of two numbers: 10 + 24 = ',10/24)
print('Division of two numbers: ',a,'+',b,'is',a/b)
print('Approx. Division: ',b//a)
print(a/b)
print('\n')

#Multiplication Opperation
print('Multiplication Opperation')
a = 10
b = 25
c = 10+20
print('Multiplication of two numbers: 10 * 24 = ',10*24)
print('Multiplication of two numbers: ',a,'*',b,'is',a*b)
print(a*b)
print('\n')

#Exponential Opperation
print('Exponential Opperation')
a = 2
b = 25
c = 10*20
print('Multiplication of two numbers: 10 ^ 24 = ',10**2)
print('Multiplication of two numbers: ',a,'^',b,'is',a**b)
print(a**b)
print('\n')

#Bollean Operation
print(bool(1))   
print(bool(0))

Addtion Opperation
Addition of two numbers: 10 + 24 =  34
Addition of two numbers:  10 + 25 is 35
35


Substraction Opperation
Substraction of two numbers: 10 + 24 =  -14
Substraction of two numbers:  25 - 10 is 15
15


Division Opperation
Division of two numbers: 10 + 24 =  0.4166666666666667
Division of two numbers:  25 + 10 is 2.5
Approx. Division:  0
2.5


Multiplication Opperation
Multiplication of two numbers: 10 * 24 =  240
Multiplication of two numbers:  10 * 25 is 250
250


Exponential Opperation
Multiplication of two numbers: 10 ^ 24 =  100
Multiplication of two numbers:  2 ^ 25 is 33554432
33554432


True
False

In [33]:
#changing type of data

a = 1 # a is in int form

float(a) # converted to float form
str(1) #converted to string form

'1'

In [42]:
# Storing Values

a = 10
b = 20
c = a+b
print(c)

#convert 02h 20m 30s to total mins
total_min = 2*60+20+30/60
print(total_min,'min')

#convert 2 hrs into seconds

hrs = 2
sec_hrs = 60*60
sec = hrs * sec_hrs
print(sec,'seconds')

30
140.5 min
7200 seconds

In [81]:
#String operation

print('hello')
print("hello")

print('\n')

a = 'hello world'
print(a[1])
print(a[2:8])
print(a[::2]) #printng charcter with a space of 2
print(a[-5:-8:-1])

print('\n')

#length of string

len(a)
print(a[:5],'Mate')

print('\n')

#replicate String
print(3*a)

first_name = 'Tanmoy'
last_name = 'Munshi'
print('My Name is',first_name,last_name)

print('\n')

#lower case to upper case
print(a.upper()) #for upper case

print(a.lower()) #for lower case

print('\n')

#replace a string
a = 'this is a dog'
a.replace('dog','cat')


#finding string
a.find('i')

hello
hello


e
llo wo
hlowrd
w o


hello Mate


hello worldhello worldhello world
My Name is Tanmoy Munshi


HELLO WORLD
hello world

2

In [87]:
#EXAMPLES

#find even nos of a = "0123456789"
a = "0123456789"

#find the 1 in a
print(a[::2])
a.find('1')

02468

1

In [88]:
bool(1)

True