# Python Data Structures

### Learning Objectives

In this lesson you will learn about:
1. Lists and Tuples 
2. Sets
3. Dictionaries

## 1. List and Tupples

Tupples are written in comma separated form within  paranthesis

### a. Tupple

1. tupples are immutable
2. elements are inside ( )

In [23]:
tupple1 = ('hey',1,3.4)
type(tupple1)
print(tupple1[:])

tupple2 = ('its',2,4.4)
concat_tupple = tupple1+tupple2
print(concat_tupple)

('hey', 1, 3.4)
('hey', 1, 3.4, 'its', 2, 4.4)

In [21]:
#slicing of tupples
print(concat_tupple[0:4])    #index should be 1 larger than the index you want

('hey', 1, 3.4, 'its')

In [22]:
#length of the tupple
len(concat_tupple)

6

In [32]:
#tupples can be sorted

a = (12,1,42,124,32,23,2)
b = sorted(a)
print(b)

[1, 2, 12, 23, 32, 42, 124]

In [45]:
# Tupples Nesting

tup = (1,2,4,('hey',8.9),6,('jej',('sad',2,4.4)),8)
print(tup)

tup[3][1] #print hey
tup[3] #print ('hey',8.9)
tup[5][1][2] #print 2
tup[5][1][0][2] #print d

(1, 2, 4, ('hey', 8.9), 6, ('jej', ('sad', 2, 4.4)), 8)

'd'

### b. Lists 

1. Lists are mutable
2. It can contain Tupple inside a list
3. elements are inside [ ]

In [58]:
# List can be extended or immutable

list1 = ['tanmoy',20,7.5]
list1.extend(['Munshi',20])
list1[3] # Outputs 'Munshi'
list1

['tanmoy', 20, 7.5, 'Munshi', 20]

In [60]:
# Append in a list

list2 = ['tanmoy',20,7.5]
list2.append(['Munshi',20])

list2[3] # Outputs ['Munshi', 20]
list2[3][0] # Outputs 'Munshi'
list2

['tanmoy', 20, 7.5, ['Munshi', 20]]

In [63]:
# Lists element can be deleted

del(list2[2])
list2

['tanmoy', 20]

In [64]:
# We can split a string. .split() splits a string which is separated by a space

name = 'Tanmoy Munshi'
name.split()

['Tanmoy', 'Munshi']

In [69]:
# We can split a string. .split() splits a string which is separated by a character

numbs = 'a,f,w,t'
numbs.split(",")

['a', 'f', 'w', 't']

In [80]:
# lists can be cloned using [:]

a = [1,2,4,5,1]
n=a
n[2] = 3
a        # Output [1, 2, 3, 5, 1]

# This results change the values of 'a' variable
# this is called aliasing effect

# Cloning a list

b = [1,2,4,5,1]
c = b[:]
c[3] = 6
c   # Ouptput [1, 2, 4, 6, 1]
b   # Ouptput [1, 2, 4, 5, 1]

#So there is no chanege of real data

[1, 2, 4, 5, 1]

In [83]:
n = [1, 2, 4, 5, 3]

In [87]:
n[0:2]

[1, 2]

## 2. Sets

1. It can input different element types
2. It do not record element position
3. Sets only have unique elements
4. Elements are placed inside { }

In [89]:
# Sets don't have duplicate elements

set1 = {1,4,2,5,1,3,2,5}
set1

{1, 2, 3, 4, 5}

In [93]:
# Converting List to a Set this is called type Casting

list5 = [2,2,5,12,4,2,5,5]
set2 = set(list5)
set2

{2, 4, 5, 12}

### Set Operations

In [100]:
set3 = {'tanmoy','munshi',20,19.7}
set3
# ADD element into the set

set3.add('ECE')
set3

{19.7, 20, 'ECE', 'munshi', 'tanmoy'}

In [101]:
#Remove element from set

set3.remove(19.7)
set3    # Output {20, 'ECE', 'munshi', 'tanmoy'}

{20, 'ECE', 'munshi', 'tanmoy'}

In [103]:
# Check elements in a set using 'in'

20 in set3 # True
19 in set3 # False

False

### Mathematical Operations in Set

In [104]:
# Use of & to find the common of two set or Intersection

setA = {'Super','Man',2020,10.5}
setB = {'Bat','Man',30.6,2020}
 
setA&setB  # Output {2020, 'Man'}

{2020, 'Man'}

In [105]:
# Union of two sets using .union()

setA.union(setB)

{10.5, 2020, 30.6, 'Bat', 'Man', 'Super'}

In [106]:
# Checking if the set is a subset of the other set

setA.issubset(setB)

False

# 3. Dictionaries
1. Dictionaries has key instead of indexes it doesn't has to be a value usually charc
2. It is inside { }
3. Keys are the 1st element. It must be immutable and unique
4. Separated by ,

In [108]:
# Dictionaries are defiend by
exampleDic = {"Key1":1,"Key2":[2,2,4],"Key4":(4,4,4),('key5'):5}
exampleDic

{'Key1': 1, 'Key2': [2, 2, 4], 'Key4': (4, 4, 4), 'key5': 5}

In [112]:
# More Example

NameDOB = {'tanmoy':1999,'Soumendu':1999,'Indranil':1998,'Soumashis':1999}
NameDOB

{'tanmoy': 1999, 'Soumendu': 1999, 'Indranil': 1998, 'Soumashis': 1999}

In [133]:
NameDOB['tanmoy']

#Add another entry to the dictionary

NameDOB['Sandipan'] = 1997
NameDOB['Swapnil'] = 1999
NameDOB['None'] = 1000
NameDOB

{'tanmoy': 1999,
 'Soumendu': 1999,
 'Indranil': 1998,
 'Soumashis': 1999,
 'Sandipan': 1997,
 'Swapnil': 1999,
 'None': 1000}

In [134]:
#Delete Element from Dictionary

del(NameDOB['None'])
NameDOB

{'tanmoy': 1999,
 'Soumendu': 1999,
 'Indranil': 1998,
 'Soumashis': 1999,
 'Sandipan': 1997,
 'Swapnil': 1999}

In [136]:
# Verify element in the dictionary or not

'tanmoy' in NameDOB
'None' in NameDOB

False

In [144]:
# to see all elements

NameDOB.values()  # Output dict_values([1999, 1999, 1998, 1999, 1997, 1999])
NameDOB.keys()    # Output dict_keys(['tanmoy', 'Soumendu', 'Indranil', 'Soumashis', 'Sandipan', 'Swapnil'])

dict_keys(['tanmoy', 'Soumendu', 'Indranil', 'Soumashis', 'Sandipan', 'Swapnil'])